@charset "utf-8";
/*全局样式*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, span, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, section, nav, header, footer{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;text-align:inherit;line-height:inherit;}
html{ height:100%; width:100%;}
body{ font-size:12px; color:#666666; line-height:20px; font-family:Arial,"微软雅黑","Hiragino Sans GB W3","黑体"; position:relative;background-color: #e3e0d1;}
strong{ font-weight:bold;}
a{ text-decoration:none;
    text-transform:none;
    color:#666666;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
a:hover{ text-decoration:none }
a span{ cursor:pointer;}
em{ text-transform:none; font-style:normal;}
.clear{ width:0; height:0; display:block; clear:both; overflow:hidden;}
.clearfix:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
textarea{ resize:none;}
input:focus,textarea:focus{ outline:none;}
ul, ol, dl{ list-style:none; display:block;}
dd, dt, li{ display:block;}
.wrap{width:1200px;margin:0 auto;position:relative;}
.hide{display:none;}


.header{
    width:100%;
    height:80px;
    background-color:#0c0404;
}
.header .menu{
    float:right;
}
.header .menu a{
    display:inline-block;
    padding:0 35px;
    line-height:80px;
    text-align: center;
    font-size: 18px;
    color:#e3e0d1;
    position: relative;
}
.header .menu a.cur{
    color:#ed018c;
}
.header .menu a:hover{
    color:#ed018c;
}
.header .menu a i{
    display:block;
    width:34px;
    height: 26px;
    line-height: 20px;
    font-size: 12px;
    color:#ffffff;
    background:url("../images/hot.png") left top no-repeat;
    position: absolute;
    right: -5px;
    top: 25px;
}

.header .logo{
    display:block;
    width:228px;
    height:80px;
}
.header .logo img{
    width:100%;
}

.main{
    width:100%;
}

.banner{
    width:100%;
    height:400px;
}

.nav{
    margin-bottom: 20px;
}
.nav .column{
    padding:12px 0;
    border-bottom:1px solid #551515;
}
.nav .column h5{
    width:120px;
    height:54px;
    border-radius: 54px;
    line-height: 54px;
    margin-right: 15px;
    color:#f8f8f4;
    font-size: 24px;
    text-align: center;
    background-color: #ed018c;
    float:left;
}
.nav .column .link{
    float:left;
}
.nav .column .link a{
    display:inline-block;
    width:119px;
    height:54px;
    line-height: 54px;
    margin:0 5px;
    color:#551515;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.nav .column .link a::after{
    display:block;
    content: '';
    width: 1px;
    height:30px;
    position: absolute;
    right:-8px;
    top:50%;
    margin-top:-15px;
    background-color: #551515;
}
.nav .column .link a:last-child::after{
    display:none;
}
.nav .column .link a.cur{
    border-radius:54px;
    background-color: #f1efdf;
}
.nav .column .link a:hover{
    border-radius:54px;
    background-color: #f1efdf;
}


.tabColumn{
    margin-bottom:10px;
}
.tabColumn .tabBtn{
    text-align: center;
    margin-bottom:20px;
}
.tabColumn .tabBtn a{
    display:inline-block;
    padding:25px 30px;
    font-size: 20px;
    color:#551515;
    position: relative;
}
.tabColumn .tabBtn a.cur::after{
    display:block;
    content: '';
    width:82px;
    height: 2px;
    background-color: #ed018c;
    position: absolute;
    left:50%;
    bottom:0;
    margin-left:-41px;
}

.tabCon{

}
.tabCon a{
    display:block;
    width:225px;
    height:390px;
    border-radius: 5px;
    float:left;
    margin-right: 15px;
    margin-bottom:15px;
    background-color: #f1efdf;
    overflow: hidden;
}
.tabCon a:last-child{
    margin-right: 0;
}
.tabCon a .img{
    display:block;
    width:230px;
    height:300px;
    overflow: hidden;
}
.tabCon a .img img{
    display:block;
    width:100%;
}
.tabCon a p{
    padding:10px 12px 0;
    line-height: 25px;
    font-size: 18px;
    color:#551515;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.tabCon a:hover p{
    color:#ed018c;
}

.advertisment{
    margin-bottom:30px;
}
.advertisment a{
    display:block;
    width:100%;
}

.footer{
    padding:30px 0;
    background-color: #c8c5b5;
}
.footer span,.footer .txt{
    font-size: 20px;
    margin-bottom:20px;
}
.footer .txt span,.footer .txt a{
    font-size: 20px;
    color:#ed018c;
}
.footer p{
    font-size: 18px;
    color:#551515;
    line-height: 25px;
}

.crumbs{
    margin-bottom:20px;
}
.crumbs a{
    color:#551515;
}
.crumbs a.cur,.crumbs a:hover{
    color:#ed018c;
}

.pagination{
    padding:20px 0;
    text-align: center;
}
.pagination a,.pagination span{
    display:inline-block;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    padding: 0 12px;
    margin:0 5px;
    background-color: #f1efdf;
    color: #551515;
    vertical-align: middle;
}

.pagination a:hover,.pagination a.current,.pagination span.current{
    background-color: #ed018c;
    color: #ffffff;
}
.pagination input{
    width: 50px;
    height: 33px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    margin: 0 12px;
    border-radius: 3px;
    color: #666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}




.videoDetail{
    margin-bottom:20px;
}
.videoImg{
    float:left;
    width:230px;
    height:300px;
    margin-right: 20px;
}
.videoTxt{
    float:left;
}
.videoTxt h4{
    padding:20px 0;
    font-size: 20px;
    color:#551515;
}
.videoTxt span{
    display:block;
    color:#551515;
    line-height:26px;
}

.videoPlayLink{

}

.videoPlayLink .bor{
    padding:30px 0 20px;
    margin-bottom:10px;
    border-bottom:1px solid #551515;
}
.videoPlayLink .bor span{
    display:block;
    width:120px;
    height:46px;
    line-height:46px;
    font-size: 16px;
    color:#f8f8f4;
    text-align: center;
    border-radius:5px;
    background-color: #ed018c;

}
.videoPlayLink i{
    display:inline-block;
    width:32px;
    height:32px;
    margin-right: 5px;
    background: url("../images/play.png") 50% 50% no-repeat;
    vertical-align: middle;
}
.videoPlayLink .playLine{

}
.videoPlayLink .playLine a{
    display:block;
    margin-bottom:10px;
}
.videoPlayLink .playLine em{
    display:inline-block;
    width:60px;
    height:32px;
    line-height: 32px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    color:#f8f8f4;
    text-align: center;
    background-color: #ed018c;
    vertical-align: middle;
}
.videoPlayLink .playLine span{
    display:inline-block;
    font-size: 16px;
    color:#551515;
    vertical-align: middle;
}

.video{
    width:100%;
    height:560px;
    position: relative;
}
.video img{
    width:100%;
    height:560px;
}
.video .playBtn{
    width:80px;
    height:80px;
    position: absolute;
    left:50%;
    top:50%;
    margin:-40px 0 0 -40px;
    background:url("../images/play.png") 50% 50% no-repeat ;
    z-index: 2;
}
.video .mask{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #000000;
}

.next_page{
    padding:20px 0;
}
.next_page a{
    color:#ed018c;
}
.next_page .prevBtn{
    float:left;
    max-width:48%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.next_page .nextBtn{
    float:right;
    max-width:48%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}












