body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
input::-webkit-input-speech-button {display: none}
button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.clear{ width:0; height:0; display:block; clear:both; overflow:hidden;}
.clearfix:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.hide{display:none;}



.header{
    max-width: 7.5rem;
    margin:0 auto;
    width:100%;
    background-color: #000000;
}
.header  .menu{
    display:none;
}
.header .logo{
    display: block;
    width: 100%;
    text-align: center;
}


.main{
    max-width: 7.5rem;
    margin:0 auto
}
.banner{
    width:100%;
    height:2.5rem;
}
.banner img{
    width:100%;
    height:2.5rem;
}
.banner .swiper-pagination,.banner .swiper-button-next,.banner .swiper-button-prev{
    display:none;
}

.nav{
    padding:0 0.15rem;
}
.nav .column{
    padding:0.1rem 0;
    border-bottom:1px solid #551515;
    font-size: 0;
}
.nav .column h5{
    display:inline-block;
    width:1.34rem;
    height:0.98rem;
    line-height:0.98rem;
    border-radius: 0.05rem;
    margin-right: 0.15rem;
    background-color: #ed018c;
    font-size: 0.3rem;
    color:#f8f8f4;
    text-align: center;
    vertical-align: middle;
}
.nav .column .link{
    display:inline-block;
    width:5.7rem;
    vertical-align: middle;
}
.nav .column .link a{
    display:block;
    float:left;
    width:1.3rem;
    height:0.46rem;
    border-radius: 0.46rem;
    line-height: 0.46rem;
    margin:0.05rem 0.15rem 0.05rem 0;
    font-size: 0.18rem;
    color:#551515;
    text-align: center;
    background-color: #f1efdf;
}
.nav .column .link a:nth-child(4n){
    margin-right:0;
}


.tabColumn{
    margin-bottom:0.1rem;
}
.tabColumn .tabBtn{
    text-align: center;
    margin-bottom:0.2rem;
}
.tabColumn .tabBtn a{
    display:inline-block;
    padding:0.25rem 0.3rem;
    font-size: 0.2rem;
    color:#551515;
    position: relative;
}
.tabColumn .tabBtn a.cur::after{
    display:block;
    content: '';
    width:0.82rem;
    height: 2px;
    background-color: #ed018c;
    position: absolute;
    left:50%;
    bottom:0;
    margin-left:-0.41rem;
}

.tabCon{
    padding:0 0.15rem;
}
.tabCon a{
    display:block;
    width:2.3rem;
    height:4.2rem;
    border-radius: 0.05rem;
    float:left;
    margin-right: 0.15rem;
    margin-bottom:0.15rem;
    background-color: #f1efdf;
    overflow: hidden;
}
.tabCon a:nth-child(3n){
    margin-right: 0;
}

.tabCon a .img{
    display:block;
    width:100%;
    height:auto;
    overflow: hidden;
}
.tabCon a .img img{
    display:block;
    width:100%;
}
.tabCon a p{
    padding:0.1rem 0.12rem 0;
    line-height: 0.26rem;
    font-size: 0.18rem;
    color:#551515;
}
.tabCon a:hover p{
    color:#ed018c;
}

.advertisment{
    padding:0 0.15rem;
    margin-bottom:0.3rem;
}
.advertisment a{
    display:block;
    width:100%;
}

.footer{
    max-width: 7.5rem;
    margin:0 auto;
    padding:0.3rem 0.15rem;
    background-color: #c8c5b5;
}
.footer span,.footer .txt{
    font-size: 0.2rem;
    margin-bottom:0.2rem;
}
.footer .txt span,.footer .txt a{
    font-size: 0.2rem;
    color:#ed018c;
}
.footer p{
    font-size: 0.18rem;
    color:#551515;
    line-height: 0.26rem;
}


.crumbs{
    padding:0.2rem 0.15rem;
    font-size: 0.18rem;
}
.crumbs a{
    color:#551515;
}
.crumbs a.cur{
    color:#ed018c;
}


.pagination{
    padding:0.2rem 0;
    text-align: center;
}
.pagination a,.pagination span{
    display:inline-block;
    height: 0.48rem;
    line-height:0.48rem;
    border-radius: 3px;
    padding: 0 0.12rem;
    margin:0 0.05rem;
    background-color: #f1efdf;
    color: #551515;
    vertical-align: middle;
}

.pagination a:hover,.pagination a.current,.pagination span.current{
    background-color: #ed018c;
    color: #ffffff;
}
.pagination input{
    width: 0.5rem;
    height: 0.5rem;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    margin: 0 0.12rem;
    border-radius: 3px;
    color: #666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}




.videoDetail{
    margin-bottom:0.2rem;
    padding:0 0.15rem;
}
.videoImg{
    float:left;
    width:2.30rem;
    height:3rem;
    margin-right: 0.2rem;
}
.videoTxt{
    width: 4.6rem;
    float:left;
}
.videoTxt h4{
    padding:0.2rem 0;
    font-size: 0.20rem;
    color:#551515;
}
.videoTxt span{
    display: block;
    color: #551515;
    font-size: 0.18rem;
    line-height: 0.36rem;
}


.videoPlay{

}

.videoPlay .bor{
    padding:0.3rem 0;
    margin-bottom:0.1rem;
    border-bottom:1px solid #551515;
}
.videoPlay .bor span{
    display:block;
    width:1.6rem;
    height:0.46rem;
    line-height:0.46rem;
    font-size: 0.16rem;
    color:#f8f8f4;
    text-align: center;
    border-radius:0.05rem;
    background-color: #ed018c;

}
.videoPlay i{
    display:inline-block;
    width:0.3rem;
    height:0.3rem;
    margin-right: 0.05rem;
    background: url("../images/play.png") 50% 50% no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.videoPlay .playLine{

}
.videoPlay .playLine a{
    display:block;
    margin-bottom:0.1rem;
}
.videoPlay .playLine em{
    display: inline-block;
    width: 1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.05rem;
    margin-right: 0.1rem;
    font-size: 0.16rem;
    color: #f8f8f4;
    text-align: center;
    background-color: #ed018c;
    vertical-align: middle;
}
.videoPlay .playLine span{
    display:inline-block;
    font-size: 0.16rem;
    color:#551515;
    vertical-align: middle;
}


.video{
    width:100%;
    height:5.6rem;
    position: relative;
}
.video img{
    width:100%;
    height:5.6rem;
}
.video .playBtn{
    width:0.8rem;
    height:0.8rem;
    position: absolute;
    left:50%;
    top:50%;
    margin:-0.4rem 0 0 -0.4rem;
    background:url("../images/play.png") 50% 50% no-repeat;
    background-size: contain;
    z-index: 2;
}
.video .mask{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: #000000;
}

.next_page{
    padding:0.2rem 0.15rem;
    font-size: 0.18rem;
}
.next_page a{
    color:#ed018c;
}
.next_page .prevBtn{
    float:left;
}
.next_page .nextBtn{
    float:left;
}
















