@charset "utf-8";
/*pager mini css*/
.flexWrap{ display: -webkit-box;    display: -webkit-flex;  display: flex; }
.flexCon{ -webkit-box-flex: 1; -webkit-flex: 1;flex: 1;}
.flexVertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}
.flexAgCen{align-items: center;-webkit-align-items: center;}
.flexAgTop{align-items: top;-webkit-align-items: top;}
.cursorPot{cursor: pointer;}

.ellipsis{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.wtBg{background:#fff}
.blueBg{background:#ABCDF3;}
.mblueBg{background:#88c0ff;}
.ltRedBg{background: #F7CDCD;}
.bdBc{background-color:#F4F4F4}
.ltGreyBg{background: #F7F7F7;}
.midGreyBg{background: #F9F9F9;}

.bold{font-weight: 700;}
.bodyMask{position:fixed;top:0;bottom:0;width:100%;background:#000;z-index:1200}
.zoneMask{z-index:1550;}
.bdbox{box-sizing: border-box;}

.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}

.verTop{vertical-align:top;}
.verBot{vertical-align:bottom;}
.verMid{vertical-align:middle;}

.fl{float:left;}
.fr{float:right;}

.block{display: block;}
.ilblock{display:inline-block;}
.hide{display:none;}
.ovfHid{overflow: hidden}

.rad3{border-radius:3px;}
.rad5{border-radius:5px;}
.rad8{border-radius:8px;}
.rad10{border-radius:10px;}

.border{border:#E5E5E5 1px solid;}
.topLine{border-top:#E5E5E5 1px solid;}
.botLine{border-bottom:#E5E5E5 1px solid;}
.leftLine{border-left:#E5E5E5 1px solid;}
.rigLine{border-right:#E5E5E5 1px solid;}
.botLineLt{border-bottom:#F1F1F1 1px solid;}
.rigLineLt{border-right:#F1F1F1 1px solid;}
.boxBotLine{box-shadow:0 1px 3px #ccc ;}
.titLine{width:3px;height:12px;background:#F98129;}

.opa80{filter:alpha(opacity=80);opacity: 0.8;}
.opa70{filter:alpha(opacity=70);opacity: 0.7;}
.opa50{filter:alpha(opacity=60);opacity: 0.6;}
.opa50{filter:alpha(opacity=50);opacity: 0.5;}
.opa40{filter:alpha(opacity=40);opacity: 0.4;}
.opa30{filter:alpha(opacity=30);opacity: 0.3;}
.opa20{filter:alpha(opacity=20);opacity: 0.2;}
.opa10{filter:alpha(opacity=10);opacity: 0.1;}
.opa0{filter:alpha(opacity=0);opacity: 0;}

.top0{top:0;}

.colorA{ color: #aaa;}
.colorB{ color: #bbb;}
.colorC{ color: #ccc;}
.colorD{ color: #ddd;}
.colorE{ color: #eee;}
.colorF{ color: #551515;}
.color0{ color: #000;}
.color3{ color: #333;}
.color4{ color: #444;}
.color6{ color: #666;}
.color7{ color: #777;}
.color8{ color: #888;}
.color9{ color: #999;}
.colorBlue{color:#0000FF;}
.colorBlue2{color:#3387FF;}
.colorRed{color:#FF0000;}
.colorGreen{color:#007F00}
.colorltRed{color:#E35757;}
.colorYel{color:#F98129;}
.colorOrg{color:#FF654D}

.lhp1{line-height:1}
.lhp12{line-height:1.2}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.lh30{line-height:30px}
.lkLine{text-decoration: underline;}

.fz10{font-size:10px}
.fz12{font-size:12px}
.fz14{font-size:14px}
.fz16{font-size:16px}
.fz18{font-size:18px}
.fz20{font-size:20px}
.fz22{font-size:22px}
.fz24{font-size:24px}
.fz26{font-size:26px}
.fz30{font-size:30px}
.fz50{font-size:50px}

.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt12{margin-top:12px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt80{margin-top:80px}
.mt100{margin-top:100px}
.mtNg1{margin-top:-1px;}

.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}

.mr3{margin-right:3px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}

.mb2{margin-bottom:2px}
.mb3{margin-bottom:3px}
.mb5{margin-bottom:5px}
.mb7{margin-bottom:7px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}

.mgAuto{margin-right:auto;margin-left:auto}

.pad10{padding:10px}
.pad20{padding:20px}
.pad30{padding:30px}
.pad40{padding:40px}
.pad50{padding:50px}
.pad60{padding:60px}
.pad70{padding:70px}

.plr10{padding-right:10px;padding-left:10px}
.plr15{padding-right:15px;padding-left:15px}
.ptb15{padding-top:15px;padding-bottom:15px}
.ptb10{padding-top:10px;padding-bottom:10px}
.ptb7{padding-top:7px;padding-bottom:7px}
.ptb5{padding-top:5px;padding-bottom:5px}

.pb3{padding-bottom:3px}
.pb5{padding-bottom:5px}
.pb7{padding-bottom:7px}
.pb10{padding-bottom:10px}
.pb12{padding-bottom:12px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb80{padding-bottom:80px}

.pl5{padding-left:5px}
.pl7{padding-left:7px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl27{padding-left:27px}
.pl30{padding-left:30px}
.pl35{padding-left:35px}
.pl50{padding-left:50px}
.pl60{padding-left:60px}
.pl80{padding-left:80px}
.pl100{padding-left:100px}
.pl120{padding-left:120px}

.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pr42{padding-right:42px}
.pr50{padding-right:50px}
.pr60{padding-right:60px}
.pr70{padding-right:70px}
.pr80{padding-right:80px}

.pt2{padding-top:2px}
.pt3{padding-top:3px}
.pt5{padding-top:5px}
.pt7{padding-top:7px}
.pt10{padding-top:10px}
.pt12{padding-top:12px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.pt40{padding-top:40px}
.pt50{padding-top:50px}

.pa5{padding:5px}
.pa10{padding:10px}
.pa15{padding:15px}
.pa20{padding:20px}
.pa25{padding:25px}
.pa30{padding:30px}

.bot60{bottom:60px}
.hei10{height:10px;}

.posRel{position: relative;}
.posAbs{position: absolute;}
.posFixed{position:fixed;}

.top0{top:0}
.left0{left:0}
.bottom0{bottom:0}
.right0{right:0}

.a_style {
    cursor: pointer;
    color: #3399FF;
}